html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

p, h1, h2, h3, ul, li, figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #070217;
}

.container {
  margin: 0 auto;;
  padding: 80px 0;
  width: 1170px;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  /* font: 400 60px / 60px Arial; */
  color: #333;
}

.heading2 {
  margin-bottom: 10px;

  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.heading3 {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.text {
  margin-bottom: 40px;
  width: 872px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.block-links {
  display: inline-block;
  margin-bottom: 50px;
}

.link-box {
  display: inline-block;
  padding: 24px 49px;
}

.link-box-text {
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.block-links .link-box:not(:last-child) {
  margin-right: 25px;
}

.link-box .text-download {
  font-weight: 700;
  font-size: 18px;

  color: #3f2aff;
}

.icon-left {
  display: inline-block;
  padding-left: 36px;

  background-position: left center;
  background-size: 18px;
  background-repeat: no-repeat;
}

.image {
  margin-bottom: 40px;
}

.ulist-content {
  margin-bottom: 20px;
  padding-left: 15px;
}

.ulist-content .item-content::marker {
  color: #3f2aff;
}

.item-content:not(:last-child) {
  margin-bottom: 20px;
}

.item-content .link {
  padding: inherit;
  border-bottom: 1px solid #3f2aff;

  font-size: 20px;
  color: #3f2aff;
}

.figure-block {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;

  font-size: 0;
}

.figure-block .image {
  margin-bottom: 0px;
  min-width: 100%;
}

.figure-block .caption {
  padding: 19px 0;

  font-weight: 400;
  font-size: 14px;
  text-align: center;

  border: 1px solid #b6b6b6;
  border-top: none;
}

.gray-block {
  margin: 0;
  padding: 30px;
  background-color: #f3f3f3;
  border-radius: 20px;

  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gray-block:not(:last-child) {
  margin-bottom: 40px;
}

.gray-block .text {
  margin-bottom: 10px;
  width: 692px;
}

.blue-block {
  display: inline-block;
  padding: 50px 95px;
  width: 100%;

  font-size: 30px;
  font-weight: 700;
  color: white;

  background-color: #3f2aff;
  border-radius: 20px;
}

.icon-download {
  background-image: url("/img/download.png");
}

.image-books {
  background-image: url(/img/decorate-1.png);
}

.image-snowflake {
  background-image: url(/img/decorate-2.png);
}
